<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script> -->

    <style>
      body {
        background-color: #000; /* Fondo negro */
        color: #fff; /* Texto blanco */
      }
      .container {
        max-width: 100%;
        background-color: #131313; /* Fondo del formulario */
        border-radius: 10px;
        padding: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
      }
      .container-border {
        margin-top: 5%;
        background: linear-gradient(to top, #e1b700, #000);
        margin: auto;
        width: 80%;
        border-radius: 10px;
        padding: 2px;
      }
      .section {
        width: 50%;
        padding: 5%;
      }
      h1 {
        color: #ffffff;
        font-size: 20px;
      }
      hr {
        background-color: #ba9515;
      }
      .btn-primary {
        background-color: #f1c40f; /* Botón amarillo */
        border-color: #f1c40f; /* Borde del botón amarillo */
      }
      .btn-primary:hover {
        background-color: #e1b700; /* Botón amarillo más oscuro al pasar el ratón */
        border-color: #e1b700; /* Borde del botón amarillo más oscuro */
      }
      .form-control {
        border: none;
        border-radius: 10px;
        background-color: #a3a3a367;
        color: white;
      }
      .form-control::placeholder {
        font-size: 15px;
        color: #ffffff7a;
      }
      label {
        color: #fff9e5;
        font-size: 15px;
      }
      .form-control:focus {
        background-color: #848484; /* Fondo amarillo cuando el campo esta enfocado */
        border-color: #f39c12; /* Borde amarillo más oscuro cuando el campo está enfocado */
        box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25); /* Sombra del campo de entrada enfocado */
      }
      /* Estilos personalizados para FilePond */
      .filepond--root {
        background-color: #313131; /* Fondo principal del área de carga */
        border-radius: 8px;
      }
      .filepond--drop-label {
        background-color: #313131; /* Fondo de la etiqueta "Arrastra y suelta" */
        color: #ffffff;
      }
      .filepond--item {
        background-color: #1a1a1a; /* Cambia este color al que prefieras */
        border-radius: 8px;
      }
      .filepond--item-panel {
        background-color: #1a1a1a; /* Fondo personalizado cuando la imagen está cargada */
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <form
      action="/api/createproduct"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="container-border">
        <div class="container">
          <div class="section">
            <h1 class="text-center">Crear producto</h1>
            <hr />
            <div class="form-group">
              <label for="code">Codigo:</label>
              <input
                type="text"
                id="code"
                name="code"
                class="form-control"
                style="width: 20%; min-width: 30px"
                placeholder="P001"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                style="width: 90%; min-width: 30px"
                placeholder="Nombre"
                required
              />
            </div>
            <div style="display: flex">
              <div class="form-group">
                <label for="price">Precio:</label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  class="form-control"
                  style="width: 90%"
                  placeholder="00.00"
                  step="0.01"
                  required
                />
              </div>
              <div class="form-group">
                <label for="stock">Stock:</label>
                <input
                  type="number"
                  id="stock"
                  name="stock"
                  class="form-control"
                  style="width: 60%"
                  placeholder="000"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label for="description">Descripción:</label>
              <textarea
                id="description"
                name="description"
                class="form-control"
                placeholder="Descripción del producto"
                required
              ></textarea>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="col-5">
                <div class="form-group">
                  <label for="size">Tamaño:</label>
                  <input
                    type="number"
                    id="size"
                    name="size"
                    class="form-control"
                    step="0.01"
                    style="width: 90%; min-width: 30px"
                    placeholder="00.00 MB"
                    required
                  />
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label for="classification">Clasificacion:</label>
                  <select
                    name="classification"
                    id="classification"
                    class="form-control"
                  >
                    <option value="E">E</option>
                    <option value="E 10+">E 10+</option>
                    <option value="T">T</option>
                    <option value="M">M</option>
                    <option value="A">A</option>
                    <option value="RP">RP</option>
                  </select>
                </div>
              </div>
            </div>
              <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control">
                  <% categories.forEach((category) => { %>
                  <option value="<%= category.id %>">
                    <%= category.name %>
                  </option>
                  <% }) %>
                </select>
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    Crear
                  </button>
                </div>
                <div class="col-6">
                  <a
                  href="/products"
                  class="btn btn-danger btn-sm"
                  style="width: 100%; height: 100%"
                  >Cancelar</a
                  >
                </div>
              </div>
            </div>
          <div class="section" style="background-color: #0b0b0bb9">
            <hr />
            <div class="form-group">
              <label for="thumbnail">Miniatura:</label>
              <input
                type="file"
                id="thumbnail"
                name="thumbnail"
                class="form-group"
                accept="image/*"
                required
              />
            </div>
            <hr />
            <div class="form-group">
              <label for="image1">Imagen 1:</label>
              <input
                type="file"
                id="image1"
                name="image1"
                class="form-group"
                accept="image/*"
                required
              />
            </div>
            <hr />
            <div class="form-group">
              <label for="image2">Imagen 2:</label>
              <input
                type="file"
                id="image2"
                name="image2"
                class="form-group"
                accept="image/*"
                required
              />
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script> -->
  </body>
</html>
